.twitch-card.card-action a:hover {
    color: #d1c4e9;
}

.card-action.row {
    margin-bottom: 0px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 102px;
}